{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{{ book.imgUrl }}" class="img-fluid" alt="{{ book.title }}">
    </div>
    <div class="col-md-4">
        <h2>{{ book.title }}</h2>
        <p><strong>author:</strong> {{ book.author }}</p>
        <p><strong>price:</strong> {{ book.price }}</p>
        <p><strong>star:</strong> {{ book.stars }}</p>
        <p><strong>reviews:</strong> {{ book.reviews }}</p>
        <p><strong>publishedDate:</strong> {{ book.publishedDate }}</p>
        <!-- 如果有，则显示其他信息 -->
        {% if book.isBestSeller %}
        <p><span class="badge bg-success">best selling books</span></p>
        {% endif %}
        {% if book.isEditorsPick %}
        <p><span class="badge bg-info">editors pick</span></p>
        {% endif %}
        {% if book.isGoodReadsChoice %}
        <p><span class="badge bg-warning">good reads choice</span></p>
        {% endif %}
        <a href="{{ book.productURL }}" class="btn btn-primary">buy this book</a>
    </div>
</div>
{% endblock %}
