{% extends 'base.html' %}
<!-- extend the base page -->
{% block content %}
<div class='title'>
  <p>Recommended Books</p>
</div>
<div class="row">
    <!-- use flask to filled the block -->
    {% for book in featured_books %}
    
    <div class="col-md-3 mb-3 row row-equal-height">
        <div class="card">
            <img src="{{ book.imgUrl }}" class="card-img-top" alt="{{ book.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">author: {{ book.author }}</p>
                <p class="card-text">price: {{ book.price }}</p>
                <a href="{{ url_for('book_detail', asin=book.asin) }}" class="btn btn-primary">view detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
